*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid Red;
}

.navbar h1{
  color: grey;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  color: gray;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: red;
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


/* blog preview list  */
.blog-preview{
  margin: 20px 0;
  padding: 10px 16px;
  border-bottom: 1px solid grey;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,1);
}

.blog-preview h2{
  font-size: 24px;
  margin-bottom: 8px;
  color: gray;
}