*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid Red;
}

.navbar h1{
  color: grey;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  color: gray;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: red;
}
.content{
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}


/* blog preview list  */
.blog-preview{
  margin: 20px 0;
  padding: 10px 16px;
  border-bottom: 1px solid grey;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,1);
}

.blog-preview h2{
  font-size: 24px;
  margin-bottom: 8px;
  color: gray;
}

.blog-preview a {
  text-decoration: none;
}

/* delete button  */
.delbtn{
  padding: 3px;
  border-color: red;
  background-color: white;
  color: grey;
  margin: 5px;
  font-size: 12px;
}
.delbtn:hover{
  color: white;
  background-color: red;
}

/* create blog form  */
.blogForm{
  max-width: 400px;
  margin: 0px auto;
  text-align: center;
}
.blogForm label{
  text-align: left;
  display: block;
  color: grey;
}
.blogForm h2{
  font-size: 25px;
  color: grey;
  margin-bottom: 30px;
}
.blogForm input,.blogForm textarea , .blogForm select{
  width: 100%;
  padding: 10px 16px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.blogForm input:active{
  border-color: red;
}
.blogForm button{
  color: grey;
  background-color: white;
  border: 1px solid gray;
  padding:5px;
  border-radius: 8px;
  cursor:pointer;
  margin-left: 80%;
  font-size: 16px;
  font-weight: bold;
}
.blogForm button:hover{
  background-color: red;
  color: white;
}


